{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main-wrapper %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
     <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Order List</h3>
                            <br>
                           <a href="{% url 'add-order' %}">
                                <button class="btn btn-info m-2">Add Order</button>
                           </a>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                           placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Invoice No</th>
                                    <th>Product Name</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Vat</th>
                                    <th>Total</th>
                                    <th>Action</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for  obj in objects %}
                                <tr>
                                    <td>{{ obj.id }}</td>
                                    <td>{{ obj.invoice_no }}</td>
                                    <td>{{ obj.product }}</td>
                                    <td>{{ obj.qty }}</td>
                                     <td>{{ obj.subtotal }}</td>
                                     <td>{{ obj.vat }}</td>
                                     <td>{{ obj.total }}</td>


                                    <td>
                                        <a href="{% url 'order-details' obj.pk %}">
                                           <button class="btn btn-info">View</button>
                                        </a>
                                       <a href="{% url 'edit-order' obj.pk %}">
                                           <button class="btn btn-warning">Edit</button>
                                       </a>
                                        <a href="{% url 'delete-order' obj.pk %}">
                                        <button class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}